.pagina_subtitulo {
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    text-align: center;
}

.card_view {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    padding: 2rem;
    margin-bottom: 32px;
}

.insert--btn {
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--laranja);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    z-index: 999;
}

.insert--btn:hover {
    background-color: #f87c00;
    transform: scale(1.20);
    transition: transform 0.2s ease;
}