header {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}

.header_titulo {
    cursor: pointer;
    margin: 16px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    user-select: none;
}