footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cinza);
    padding: 2rem 7rem;
    height: 30vh;
    color: white;
}

.footer_logo {
    width: 200px;
    height: auto;
}

.footer_telefone, .footer-contatos {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer_telefone {
    gap: 8px;
}

.footer_linha {
    display: flex;
}

.footer_linha a {
    color: white;
    text-decoration: none;
    cursor: pointer
}

@media(max-width: 450px) {
    footer {
        padding: 16px;
        align-items: center;
        height: auto;
        gap: 4px;
    }

    .footer_telefone, .footer_contatos {
        font-size: 12px;
    }

    .footer_logo {
        width: 100px;
    }
}